[submodule "v2/firmware/parrot_main_test/AudioEngine"]
	path = v2/firmware/parrot_main_test/AudioEngine
	url = https://github.com/nathanshaw/AudioEngine
[submodule "v2/firmware/parrot_main_test/NeopixelManager"]
	path = v2/firmware/parrot_main_test/NeopixelManager
	url = https://github.com/nathanshaw/NeopixelManager
[submodule "v2/firmware/parrot_main_test/PlaybackEngine"]
	path = v2/firmware/parrot_main_test/PlaybackEngine
	url = https://github.com/nathanshaw/PlaybackEngine
[submodule "firmware/main_simple/dual-max14870-motor-shield"]
	path = firmware/main_simple/dual-max14870-motor-shield
	url = https://github.com/pololu/dual-max14870-motor-shield.git
